.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.App .header {
  background-color: hsl(180, 29%, 50%);
  background-image: url(./assets/bg-header-desktop.svg);
  background-repeat: repeat-x;
  max-height: 156px;
  flex: 1;
}

.App .content {
  background-color: #fff;
  flex: 1;
}